.blueBackground {
	background-color: cornFlowerBlue;
}
.smallBorder {
	border: 2px solid black;
}
.largeRedBorder {
	border: 10px solid red;
}
.greenBackground {
	background-color: green;
	width: 70%;
}
.redBox {
	background-color: red;
	width: 70%;
	float: left;
}
.yellowBox {
	background-color: yellow;
	width: 30%;
	overflow: hidden;
}
